@import 'background.scss';

.hero-image {
  background: linear-gradient(rgba(49, 49, 49, 0.50), rgba(49, 49, 49, 0.50)), url('../images/hero-image.jpg');
  background-position: left center;
  background-size: cover;
  // background-color: lightblue;
}

.no-side-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.opaque-background {
  background-color: grey;
  opacity: .5;
  width: 100vh;
  height: 100%;
}

.home-join-button {
  margin: 20px;
}

.full-height {
  height: 100%;
}

.is-centered {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
